<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name ="testAeroStat" connectionString="Server=localhost\SQLEXPRESS;Database=testAeroStat;User=AeroStat;Pwd=aerostat;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>